<?xml version='1.0' encoding='utf-8'?>
<widget id="de.nico.heardlehub" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Heardle</name>
  <description>Heardle</description>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <preference name="Orientation" value="portrait" />
  <preference name="BackgroundColor" value="0xff0f0e16" />
  <platform name="android">
    <icon density="mdpi" src="res/icon-mdpi.png" />
    <icon density="hdpi" src="res/icon-hdpi.png" />
    <icon density="xhdpi" src="res/icon-xhdpi.png" />
    <icon density="xxhdpi" src="res/icon-xxhdpi.png" />
    <icon density="xxxhdpi" src="res/icon-xxxhdpi.png" />
  </platform>
</widget>
